#searchForm {
    margin:50px 0;
}

#searchIconBtn {
    background-color: #a5bad5;
    border-radius: 50%;
    border: 0;

    .searchIcon {
        color: #414a55;
    }
}

#searchField {
    background-color: #5f91cf;
    border-radius: 30px;
    border-style: none;
    color: #fff;
}

#searchField::placeholder {
    color: #fff;
}