#searchForm {
    margin:50px 0;
}

#searchIconBtn {
    background-color: #a5bad5;
    border: 0;
    padding: 20px 20px;

    .searchIcon {
        color: #414a55;
    }
}


#searchField {
    background-color: #5f91cf;
    border-radius: 15px;
    padding: 20px;
    border-style: none;
    color: #fff;
}

#searchField::placeholder {
    color: #fff;
}