.weather-hack {
    width: 250px;
    border-radius: 15px;
    color: black;
    background-color: #FDCBCA;
    margin: 20px auto 0 auto;
    padding: 40px 50px 30px 20px;
    box-shadow: 0 0 20px rgba(207, 18, 15, 0.3);
}

.hack {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi-bi-person-raised-hand {
    height: 100px;
}

.hack-title {
   font-size: 25px;
   letter-spacing: 2px;
   font-family: 'Martian Mono', monospace;
   font-size: 30px;
   font-weight: 700;
}

.hack-description {
    font-size: 22px;
    margin: 5px;
    font-family: 'Martian Mono', monospace;
    font-weight: 700;
}