h1.title {
    font-size:72px;
    font-weight: bold;
    margin-bottom: 50px;
}

.landing {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../assets/clouds.png'), url('../../assets/new-moon.png');
    background-size: 20dvw, 15dvw;
    background-position: left top, left top;
    background-position-x: 15%, 5%;
    background-position-y: 5%, 5%;
    background-repeat: no-repeat;
}