.details-container {
    width: 80%;
    border-radius: 15px;
    color: black;
    background-color: #FDCBCA;
    margin: 20px auto 50px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(223, 223, 223, 0.3);

    > div > p {
        margin-bottom: 0;
    }
}

.details-title {
   letter-spacing: 2px;
   font-weight: 700;
}